{{#each clickedBeer}}
    {{> beerpartial this}}
    <h3>Food Pairing</h3>
    <ul>
        {{#each this.food_pairing}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <h3>Brewers Tips</h3>
    <p>{{this.brewers_tips}}</p>
    <h3>Volume</h3>
    <ul>
        <li>value: <span>{{this.volume.value}}</li>
        <li>unit: <span>{{this.volume.unit}}</li>
    </ul>
    <h3>Method</h3>
    <h4>mash_temp</h4>
    {{#each this.method.mash_temp}}
     <ul>
        <li>Value: {{this.temp.value}}</li>
        <li>Unit: {{this.temp.unit}}</li>
        <li>Duration: {{this.duration}}</li>
     </ul>
    {{/each}}
    <h4>Fermentation</h4>
    <h5>Temperature</h5>
    <ul>
        <li>Value: {{this.method.fermentation.temp.value}}</li>
        <li>Unit: {{this.method.fermentation.temp.unit}}</li>
    </ul>
    <h4>Twist: {{this.method.twist}}</h4>
{{/each}}