{{#each random}}
    <h2>{{this.name}}</h2>
    <img src="{{this.image_url}}" alt="{{this.image_url}}">
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
{{/each}}